body {
    margin: 0px;

    height: 100vh;

    background-color: #94a3b8;
}



p {
    font-family: Roboto;
    color: #94a3b8;
}
.greet {
    font-size: small;
}
.name {
    font-size: larger;
    font-weight: bolder;
}



.container {
    display: grid;

    height: 100vh;

    grid-template-columns: minmax(0, 1fr) 80vw;
    grid-template-rows: 10vh 15vh 75vh;
}


.main-title {
    font-size: xx-large
}
.main-icon {
    width: 5vw;
    height: 5vh;

    grid-column-start: 1;
    grid-column-end: 1;

    filter: invert(99%) sepia(33%) saturate(3246%) hue-rotate(175deg) brightness(75%) contrast(89%);
}
.icon {
    width: 5vw;
    height: 5vh;

    filter: invert(99%) sepia(33%) saturate(3246%) hue-rotate(175deg) brightness(75%) contrast(89%);
}



.sidebar {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: 4;

    background-color: #334155;
}



.nav {
    display: flex;

    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;

    justify-content: center;
    align-items: center;

    background-color:#111827;
}
.search {
    width: 50vw;
    height: 3vh;

    border-radius: 15px;
    border-style: none;
    background-color: aliceblue;
}



.menu {
    display: flex;

    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 2;

    background-color:#111827;
}
.doge {
    width: 120px;
    height: 120px;

    margin-left: 10px;
    margin-right: 10px;
}
.btns{
    display: flex;

    width: 75%;

    gap: 15px;

    justify-content:right;
    align-items: center;
}
.btn {
    width: 80px;
    height: 30px;

    background-color: #94a3b8;

    border-style: none;

    border-radius: 15px;
}


.main{
    display: grid;

    grid-template-columns: repeat(auto-fill);
    grid-template-rows: repeat(auto-fit);

    background-color: #94a3b8;

    gap: 15px;
    margin: 15px;
}
.projects {
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: 3;

}
.news{
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;

}
.trend{
    grid-column-start: 2;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 2;
}
.projects, .news, .trend {
    background-color: #111827;

    border-radius: 15px;
}